@import "tailwindcss";
@plugin "daisyui";

@theme {
  --blackPanther: #444143;
  --mountainMist: #A19E9D;
  --tundraFrost: #E2E2DA;
  --starburst: #DCE8E7;
  --oceanBlue: #049DBF;
  --spearShaft: #8C4F04;
  --leprousBrown: #D99036;
}

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-lora: 'Lora', serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-lora {
  font-family: var(--font-lora);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}