@import "tailwindcss";
@plugin "daisyui";

@theme {
  --blackPanther: #444143;
  --mountainMist: #A19E9D;
  --tundraFrost: #E2E2DA;
  --starburst: #DCE8E7;
  --oceanBlue: #049DBF;
  --spearShaft: #8C4F04;
  --leprousBrown: #D99036;
}

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-lora: 'Lora', serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-lora {
  font-family: var(--font-lora);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

.shiny-icon {
  position: relative;
  overflow: hidden;
}

.shiny-icon::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}